@import 'utilities.less';

// layout
#content-wrapper {
  #side-bar {
    width: auto;
  }

  header {
    background: @primaryRed;
  }
}

#content {
  margin: @gutterWidth
}

#contact-form {
  width: 450px;
}

form {
  .field {
    padding-bottom: 14px;
  }

  .action-panel {
    float: right;
  }
}

