@import 'utilities.less';

// styles for Native App webview
#webview {
    display: none;

    & + #content-wrapper {
        padding: 0;

        #navigation, #nav-toggle, #side-bar, #service-panel, footer, #main-nav {
            display: none;
        }
    }
}