
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="https://www.webjet.co.nz/wj-assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://www.webjet.co.nz/wj-assets/images/webjet-nz-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.webjet.co.nz/wj-assets/images/Webjet-nz-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.webjet.co.nz/wj-assets/images/Webjet-nz-icon-114x114.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://media.webjet.com.au/ui/1.5.5/css/webjet.css">
</head>
<body id="webjet" data-region="nz">
    <!--#if expr="${HTTP_USER_AGENT} = /wv/" -->
    <div id="webview"></div>
    <!--#endif -->
    <div id="content-wrapper" class="responsive">
      <!--# block name="header" --><!--# endblock -->
      <!--#if expr="${HTTP_USER_AGENT} != /wv/" -->
        <!--#include virtual="/web/ui/resources/header.html" stub="header"-->
      <!--#endif -->

      <div id="main-container">
          <div id="content">
              <!-- page content -->
              <div id="root"></div>
          </div>
          <div id="side-bar" class="col-0 col-xl">
              <div class="ad-banner"></div>
          </div>
      </div>
      
      <!--# block name="footer" --><!--# endblock -->
      <!--#if expr="${HTTP_USER_AGENT} != /wv/" -->
          <!--#include virtual="/web/ui/resources/footer.html" stub="footer"-->
      <!--#endif -->
    </div>

    <script src="https://media.webjet.com.au/ui/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://media.webjet.co.nz/ui/1.5.7/js/webjet.js"></script>
    <script src="./config/config.js?v=<%= buildTime %>"></script>
</body>
</html>
