
<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title><%= title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="robots" content="noindex, nofollow">
      <link rel="shortcut icon" href="https://www.webjet.com.au/wj-assets/images/favicon.ico">
      <link rel="apple-touch-icon" href="https://www.webjet.com.au/wj-assets/images/webjet-au-icon.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="https://www.webjet.com.au/wj-assets/images/Webjet-au-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="https://www.webjet.com.au/wj-assets/images/Webjet-au-icon-114x114.png" />

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
      <link rel="stylesheet" href="https://media.webjet.com.au/ui/1.5.7/css/webjet.css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
  </head>
  <body id="webjet" data-region="au">
    <div id="content">
      <!-- page content -->
      <div id="root"></div>
    </div>

    <script src="https://media.webjet.com.au/ui/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://media.webjet.com.au/ui/1.5.7/js/webjet.js"></script>
    <script src="./config/config.js?v=<%= buildTime %>"></script>
  </body>
</html>
